/data/default.desktop
/data/gnome-dictionary.desktop
/data/gnome-dictionary.desktop.in
/data/spanish.desktop
/data/thai.desktop
*.mo
/help/*/gnome-dictionary.xml
/help/*.omf
.libs/
/libgdict/gdict-enum-types.[ch]
/libgdict/gdict-marshal.[ch]
*.la
*.lo
*.o
/libgdict/stamp-gdict-enum-types.h
/libgdict/stamp-gdict-marshal.h
/src/gnome-dictionary
/src/gnome-dictionary-applet
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
/data/org.gnome.dictionary.gschema.valid
/data/org.gnome.dictionary.gschema.xml
/data/org.gnome.dictionary.gschema.xml.in
depcomp
docs/reference/gdict/gdict-decl-list.txt
docs/reference/gdict/gdict-decl.txt
docs/reference/gdict/gdict-undeclared.txt
docs/reference/gdict/gdict-undocumented.txt
docs/reference/gdict/gdict-unused.txt
docs/reference/gdict/gdict.args
docs/reference/gdict/gdict.hierarchy
docs/reference/gdict/gdict.interfaces
docs/reference/gdict/gdict.prerequisites
docs/reference/gdict/gdict.signals
docs/reference/gdict/html-build.stamp
docs/reference/gdict/html.stamp
docs/reference/gdict/html/
docs/reference/gdict/scan-build.stamp
docs/reference/gdict/setup-build.stamp
docs/reference/gdict/sgml-build.stamp
docs/reference/gdict/sgml.stamp
docs/reference/gdict/tmpl-build.stamp
docs/reference/gdict/tmpl.stamp
docs/reference/gdict/tmpl/
docs/reference/gdict/version.xml
docs/reference/gdict/xml/
gnome-doc-utils.make
gtk-doc.make
install-sh
libgdict/.deps/
libgdict/gdict-1.0.pc
libgdict/gdict-version.h
libtool
ltmain.sh
m4/
missing
omf.make
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/.deps/
stamp-h1
xmldocs.make
